body {
	background: #eee;
}

h2 span {
	display:inline-block;
	height: 2px;
	width: 40px;
	background:#29c;
}

.explanation {
	width:300px;
	text-align: justify;
	margin:15px auto 30px auto;
}

#game {
	width:300px;
	height:300px;
	border:1px solid #888;
	border-radius: 3px;
	background: url('../img/back.gif');
	margin:20px auto 5px auto;
	position:relative;
}

#the-man {
	position:absolute;
	font-size: 2em;
	top:116px;
	left:3px;
	z-index: 10;
}

#base-line {
	position:absolute;
	top:147px;
	right:147px;
	left:0;
	bottom:220px;
	border:4px solid #29c;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#wrong {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	color:red;
	text-align: center;
	font-size: 60px;
	line-height: 300px;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.9);
	z-index: 11;
	border-radius: 3px;
	display:none;
}

#round-container {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	font-size: 30px;
	text-align: center;
	line-height: 300px;
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.7);
	display: none;
	z-index: 11;
}

#controls {
	width:300px;
	margin:0 auto;
}

#start {
	width:100%;
}

#options {
	display:none;
}

.option {
	padding:5px 10px;
	margin-bottom: 5px;
}

.ground {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border:4px solid #29c;
}

#y0 {
	position:absolute;
	top:147px;
	right:0;
	left:258px;
	bottom:220px;
	display: none;
}

#x4 {
	position:absolute;
	top:119px;
	right:0;
	left:258px;
	bottom:220px;
	display: none;
}

#x2 {
	position:absolute;
	top:91px;
	right:0;
	left:258px;
	bottom:225px;
	display: none;
}

#x34 {
	position:absolute;
	top:64px;
	right:0;
	left:258px;
	bottom:240px;
	display: none;
}

#yx {
	position:absolute;
	top:37px;
	right:0;
	left:258px;
	bottom:260px;
	display: none;
}

#y32x {
	position:absolute;
	top:64px;
	right:0;
	left:202px;
	bottom:250px;
	display: none;
}

#y2x {
	position:absolute;
	top:37px;
	right:0;
	left:202px;
	bottom:260px;
	display: none;
}

#y-x4 {
	position:absolute;
	top:175px;
	right:0;
	left:258px;
	bottom:220px;
	display: none;
}

#y-x2 {
	position:absolute;
	top:202px;
	right:0;
	left:258px;
	bottom:225px;
	display: none;
}

#y-x34 {
	position:absolute;
	top:230px;
	right:0;
	left:258px;
	bottom:240px;
	display: none;
}

#y-x {
	position:absolute;
	top:257px;
	right:0;
	left:258px;
	bottom:260px;
	display: none;
}

#y-32x {
	position:absolute;
	top:230px;
	right:0;
	left:202px;
	bottom:250px;
	display: none;
}

#y-2x {
	position:absolute;
	top:257px;
	right:0;
	left:202px;
	bottom:260px;
	display: none;
}

